# See https://nextjs.org/docs/app/building-your-application/configuring/environment-variables
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_MOCK_PAYMENTS=true
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
